body{
    background: url(images/clouds.jpg) no-repeat center fixed;
    background-size: cover;
}

table
    {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

h4 {color: rgba(128, 255, 0, 0.910)}

tr{color: white;
    font-size: 18px;
}

th{ color: rgb(1, 17, 70);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

 .table-hover tbody tr:hover td {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;    
}


.panel-heading{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#clear-btn{color: darkgrey;}

